{% extends 'layout.html' %}

{% block content %}
<div class="container" style="padding: 2rem 0;">
    <div
        style="margin-bottom: 20px; margin-top: 20px; display: flex; justify-content: space-between; align-items: center;">
        <h4 style="margin: 0; color: #2589d1; font-weight: 600;">新建用户</h4>

    </div>
    <form class="row g-3" method="post">
        {% csrf_token %}
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">用户名</label>
            <input type="text" class="form-control" placeholder="用户名" name="user">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">密码</label>
            <input type="password" class="form-control" placeholder="密码" name="pwd">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">年龄</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="年龄" name="age">
        </div>
        <div class="col-12">
            <label for="inputAddress2" class="form-label">工资</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="工资" name="salary">
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">入职时间</label>
            <input type="text" class="form-control" placeholder="入职时间" name="time">
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">性别</label>
            <select id="inputState" class="form-select" name="gender">
                {% for item in gender_choices %}
                <option value="{{item.0}}">{{item.1}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2">
            <label for="inputZip" class="form-label">所属部门</label>
            <select id="inputState" class="form-select" name="depart">
                {% for item in depart_list %}
                <option value="{{item.id}}">{{item.title}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">注册</button>
        </div>
    </form>

</div>
{% endblock %}