{% extends 'layout.html' %}

{% block content %}
<div class="container" style="padding: 2rem 0;">
    <div
        style="margin-bottom: 20px; margin-top: 20px; display: flex; justify-content: space-between; align-items: center;">
        <h4 style="margin: 0; color: #2589d1; font-weight: 600;">新建靓号</h4>

    </div>
    <form class="row g-3" method="post">
        {% csrf_token %}

        {% for field in form %}
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">{{field.label}}</label>
            <!-- <input type="text" class="form-control" placeholder="用户名" name="user"> -->
            {{field}}
            <span>{{field.errors.0}}</span>
        </div>
        {% endfor %}


        <div class="col-12">
            <button type="submit" class="btn btn-primary">注册</button>
        </div>
    </form>

</div>
{% endblock %}